DJANGO_SECRET_KEY=bc@79jr$_f9qq0qwjw25_87#qbjzc$(#%u@!jqc1fk&%ca_wsy-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,https://driver-x.onrender.com,https://driver-x.vercel.app/

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://driver-x.vercel.app/
CORS_ALLOW_CREDENTIALS=True

